body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
.forest{
  background-image: url("https://images.photowall.com/products/57905/forest-snow.jpg?h=699&q=85");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.place{
  position: absolute;
  width: 35px;
  height: 35px;
  font-size: 35px;
  transform: translate(-50%, -50%);
}
.tree{
  position: relative;
  background-image: url("./pngwing.com.png");
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height:100%;
  cursor: pointer;
}
.decoration{
  width: 70px;
  height: 70px;
}
.container {
  width:1250px;
  display: flex;
  height:600px;
}
.edit{
  width:70px;
  height: 35px;
}
button{
  background: #0a333e;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 20px;
  width: 100%;
}
input{
  padding:10px 20px;
  width:100%;
}
.color{
  width: 50px;
  height: 50px;
}

.base{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  width:40%;
border-left: 1px solid white;
  margin:10px;
  padding: 10px;
}
.base:first-child{
  border-left: none;
}
.light {
  position: absolute;
  top:10%;
  left:48%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: yellow;
  box-shadow: 0px 0px 10px yellow;
  animation: pulse 1s infinite;
}
.box{
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  font-size:50px;
  line-height: 70px;
  text-align: center;
}
.box-light{
  width: 50px;
  height: 50px;
  margin-bottom: 25px;
  border-radius: 50%;
}
.time{
  font-size: 16px;
}
.text{
  font-weight: bold;
  font-size:20px;
}
.d-none {
  display: none;
}

.a-start {
  align-items: start;
}

.a-center {
  align-items: center;
}

.a-end {
  align-items: end;
}

.j-center {
  justify-content: center;
}

.flex {
  display: flex;
}

.d-column {
  flex-direction: column;
}

.j-space-around {
  justify-content: space-around;
}

.j-space-between {
  justify-content: space-between;
}
.w-300{
  width: 300px;
}
.gap20 {
  gap: 20px;
}

.gap {
  gap: 10px;
}

.gap100 {
  gap: 100px;
}

.f-wrap {
  flex-wrap: wrap;
}

.m-t-30 {
  margin-top: 30px;
}

.grow {
  flex: 1;
}
.grow3{
  flex: 3;
}
.self-end {
  align-self: end;
}

@keyframes pulse {
  from {
    opacity: 1;
  }
  to{
    transform: scale(1);
    opacity: 0.7;
  }
}